.todo-count-badge,
.project-todo-count-badge {
    background-color: #53A2D3;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 1rem;
}


.todos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 1.3rem;
    vertical-align: 0;
}