:root {
    --sidebar-background-color: #264653;
    --create-new-project-btn-color: #e9c46a;
    --sidebar-titles: #e76f51;
    --sidebar-subtitles: #fff;
}

.today, .week {
    color: var(--sidebar-subtitles);
}

/* SIDEBAR */
.sidebar {
    background-color: var(--sidebar-background-color);
    padding: 10px;
    border-right: 1px solid #162c35;
}
    /* SIDEBAR HEADING*/
.sidebar .heading, h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sidebar-titles);
}

    /* All PROJECTS */
.allprojects {
    display: flex;
    flex-direction: column;
    gap:10px;
}
        .projects-container{
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: var(--sidebar-subtitles);
        }

        .create-new-project.btn, .create-new-todo.btn {
            background-color: var(--create-new-project-btn-color);
            padding: 5px;
            border-radius: 3px;
            text-align: center;
        }

        .create-new-project.btn:active {
            color: white;
            background-color: red;
        }


.sidebar-project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 1.3rem;
}

.create-new-todo.btn {
    background-color: #2a9d8f;
    color: white;
}