:root {
    /* Background colors */
    --header-background-color: rgb(83, 162, 211);
    --body-background-color: rgba(255, 255, 255, 0);
    --form-background-color: rgb(56, 80, 91);
    --footer-background-color: rgb(83, 162, 211);
    --grid-container-background-color: rgb(209, 242, 242);
    --sidebar-background-color: coral;
    --create-new-project-btn-color: rgb(83, 162, 211);
    --todo-form-wrapper-active-bc: rgba(35, 35, 35, 0.702);
    --todo-form-wrapper-inactive-bc: rgba(35, 35, 35, 0.702);
    --fab-background-color: skyblue;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*, ul, li {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;


}

body {
    width: 100%;
}

/* HEADER */
.site-header {
    width: 100%;
    height: 3rem;
    padding: 3px;
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-title {
    font-size: 2rem;
    color: white;
    margin-left: 20px;
    font-weight: 700;
}

.user-panel {
    font-size: 2rem;
    color: white;
    margin-right: 20px;
    font-weight: 700;

}

.grid-container {
    height: calc(100vh - 3rem);
    display: grid;
    background-color: var(--grid-container-background-color);
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
}


/* SIDEBAR */
.sidebar {
    background-color: var(--sidebar-background-color);
    padding: 10px;
}
    /* SIDEBAR HEADING*/
.sidebar .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* All PROJECTS */
.allprojects {
    display: flex;
    flex-direction: column;
    gap:10px;
}
        .projects-container{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .create-new-project.btn {
            background-color: var(--create-new-project-btn-color);
            padding: 5px;
            border-radius: 3px;
            text-align: center;
        }
    
/* MAIN CONTENT */
.main-content {
    padding: 10px 10px 10px 10px;
    background-color: white;
    
}
    /* MAIN CONTENT: PROJECT */
    .main-content-project {
        margin: 10px 20px;
        margin-bottom: 100px;
    }
        .project-todos {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }
        .single-todo-div {
            padding: 25px;
            border: 1px solid black;
            border-radius: 10px;
        }


/* TODO FORM */
.todo-form-wrapper-active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--todo-form-wrapper-active-bc);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

}
    .todo-form-wrapper-active > form {
        width: 400px;
        height: fit-content;
        background-color: var(--form-background-color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
        border-radius: 5px;
        
    }
        .todo-form-wrapper-active input[type="range"] {
            margin: 0;
        }

        .todo-form-wrapper-active #lblPriority {
            margin-bottom: 0;
        }
        .todo-form-wrapper-active > form input, select, #lblPriority{
            margin: 10px 0;
            width: 100%;
            height: 1.5rem;
            font-size: 1rem;
            padding: 3px;
        }


.todo-form-wrapper-inactive{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--todo-form-wrapper-inactive-bc);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    scale: 0;
}

/* FOOTER */
.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    padding: 3px;
    background-color: var(--footer-background-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-git-img {
    width: 32px;
    height: 32px;
    margin-left: 20px;

}



.fab-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 148px 38px;

}

#floating-action-button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--fab-background-color);
    color: white;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#fab-add-project {
    width: 110px;
    text-align: center;
    padding: 3px 10px;
    background-color: green;
    position: absolute;
    bottom: 90px;
    scale: 0;
    transition: all 0.5s;
}
#fab-add-todo {
    width: 100px;
    text-align: center;
    padding: 3px 10px;
    position: relative;
    background-color: red;
    bottom: 50px;
    scale: 0;
    transition: all 0.5s;
}

#submitBtn, #editBtn{
    background-color: #4CAF50;
    padding: 2px 20px;
    margin: 5px auto;
    font-size: 24px;
    border-radius: 4px;
    color: white
}


