.project-details-buttons-wrapper {
    display: flex;
    gap: 5px;
}

.todo-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.todo-details-wrapper > h2[data-expanded='false']::after {
    content: 'See Details 🔍';
    margin: 10px;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
}   


.single-todo-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remove-todo-item-btn {
    font-size: 1.5rem;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #ef5350;
    color: white;
    border-style: none;
    border-width: 0;
    border-image-width: 0;
}

.edit-todo-item-btn{
    font-size: 1.5rem;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: yellow;
    color: black;
    border-style: none;
    border-width: 0;
    border-image-width: 0;
}

